<!DOCTYPE html>
<html lang="en">

{{ partial "head.html" . }}

<body>

    <div class="preloader-wrap">
        <img src="/img/loader.png" alt="" class="animated infinite bounce">
    </div>

    <section class="home_slider section" id="home_id" data-section-name="home">
        <div class="wrapper">
            <div class="tituloCarta">
                <img src="/img/redLogo.png" alt="">
            </div>
            <div class="palomitas">
            </div>
            <div class="texto">
                <div class="col-md-4 celu">
                    <h1><span class="counter">20</span></h1>
                    <h3 >conferencistas</h3>
                    <h1><span class="counter">500</span></h1>
                    <h3>asistentes</h3>
                    <h1><span class="counter">80</span></h1>
                    <h3>horas de vivir y  respirar animación</h3>
                    <h1><span class="counter">40</span></h1>
                    <h3>mil reproducciones en pantalla gigante CCU</h3>
                    <h1><span class="counter">70</span></h1>
                    <h3>mil impactos en redes sociales</h3>
                </div>
            </div>
        </div>
    </section>

    <section class="wow services section" id="services_id" data-wow-duration="1s" data-wow-delay="0.2s"
        data-section-name="services">
        <div class="services_bg__text"></div>

        <div class="services_bg__wrap">
            <div class="services_bg__img"></div>
            <a href="#callUs_modal" id="stat_bg_img_1_btn" class="services_btn open_modal max_modal">CONQUER NEW
                PEAKS</a>
            <span class="services_close">
                <span class="modal_close_wrap">
                    <span class="modal_close_leftLine"></span>
                    <span class="modal_close_rightLine"></span>
                </span>
            </span>
        </div>

        <div class="wrapper wow" data-wow-delay="0.5s">
            <div class="services_title">
                <h2 class="services_title_sup">¿ Qué es <span>Animacción?</span></h2>
                <h2>¿ Qué es <span>Animacción?</span></h2>
            </div>
            <div class="services_title__sub">
                <h3>Animacción es un Encuentro de creativos en torno al cine animado que se realiza anualmente en Puebla
                    desde el año 2017, dirigido a estudiantes de las carretras relacionadas al cine, comunicacion y la
                    animacion y a los profesionales de las industrias creativas.
                </h3>
            </div>
            <div class="services_list__wrap">
                <h3>El objetivo es impulsar y motivar a desarrolalrse dentro del area de animacion y el cine, con un
                    ciclo de conferencias donde los expertos comparten - durante dos dias - sus conocimientos y
                    experiencias en este campo.
                </h3>
                <img class="claqueta animated fadeInUp delay-2s" src="/img/claqueta.jpg" alt="" height="50%"
                    width="40%">
            </div>

        </div>

    </section>

    <section class="wow services section" id="our-style_id" data-wow-duration="1s" data-wow-delay="0.2s"
        data-section-name="our-style">
        <div class="services_bg__wrap">
            <div class="services_bg__img"></div>
            <a href="#callUs_modal" id="stat_bg_img_2_btn" class="services_btn open_modal max_modal">CONQUER NEW
                PEAKS</a>
            <span class="services_close">
                <span class="modal_close_wrap">
                    <span class="modal_close_leftLine"></span>
                    <span class="modal_close_rightLine"></span>
                </span>
            </span>
        </div>

        <div class="services_bg__text"></div>

        <div class="wrapper wow" data-wow-delay="0.5s">
            <div class="services_title">
                <h2>Invitados<span>Especiales</span></h2>
            </div>
            <div class="services_list__wrap">
                <ul class="services_list">
                    <li class="services_list_line"><span>01</span>Cruz Contreras</li>
                    <li class="services_list_line">
                        <div class="listFlex"><img src="/img/cruzContreras.png" alt="">
                            <p>Creativo y animador, hizo sus estudios de primaria y secundaria en Iguala y la
                                preparatoria en el Tec de Monterrey Campus Cuernavaca, en la especialidad de Estudio,
                                Animacion y Arte Digital, y posteriormente continuó preparandose en Argentina en la
                                especialidad de Simulaciones Dinámicas.</p>
                        </div>
                    </li>
                </ul>
                <ul class="services_list">
                    <li class="services_list_line"><span>02</span>Rita Basulto</li>
                    <li class="services_list_line">
                        <div class="listFlex"><img src="/img/ritaBasulto.png" alt="">
                            <p>Estudió la carrera de pintura en la Escuela de Artes Plasticas y años mas tarde la
                                licenciatura en Artes Audiovisuales en la Universidad de Guadalajara. Ha participado en
                                mas de 20 exposiciones como pintora. Estuvo en la codireccion del largometraje "El
                                octavo dia de la creacion" (2000)</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </section>

    <section class="wow services section" id="marketing_id" data-wow-duration="1s" data-wow-delay="0.2s"
        data-section-name="marketing">

        <div class="services_bg__wrap">
            <div class="services_bg__img"></div>
            <a href="#callUs_modal" id="stat_bg_img_3_btn" class="services_btn open_modal max_modal">CONQUER NEW
                PEAKS</a>
            <span class="services_close">
                <span class="modal_close_wrap">
                    <span class="modal_close_leftLine"></span>
                    <span class="modal_close_rightLine"></span>
                </span>
            </span>
        </div>


        <div class="services_bg__text"></div>
        <div class="wrapper wow" data-wow-delay="0.5s">
            <div class="services_title">
                <h2>Invitados<span>Especiales</span></h2>
            </div>
            <div class="services_list__wrap">
                <ul class="services_list">
                    <li class="services_list_line"><span>03</span>Raul 'Robin' Morales</li>
                    <li class="services_list_line">
                        <div class="listFlex"><img src="/img/robinContreras.png" alt="">
                            <p>Artista visual - Catalogado por Forbes como uno de los mexicanos más creativos -
                                ilustrador en series animadas como el Chavo, y largometrajes animados como Don Gato y su
                                Pandilla y La leyenda de la Llorona, entre otros. Director del costometraje <b>El
                                    trompetista</b> (IMCINE),ganador de mejor animacion en varios certámenes
                                internacionales.</p>
                        </div>
                    </li>
                </ul>
                <ul class="services_list">
                    <li class="services_list_line"><span>04</span>Grecia Villar</li>
                    <li class="services_list_line">
                        <div class="listFlex"><img src="/img/greciaVillar.png" alt="">
                            <p>Actriz, actriz de voz, editora, diseñadora de audio y youtuber
                                mexicana<br>Filmografia<br>-2016: El americano, The movie (Paquito y edicion)<br>-2015:
                                Seleccion canina (Edicion, edicion de animatic, diseño sonoro, Fifi)<br>-2011: La
                                revolucion de Juan Escopeta (Foley)<br>-2009 Nikté (Edicion, diseño sonoro, Nih
                                Nah)<br>-2007 La leyenda de la Nahuala (Foley)
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </section>

    <section class="project section" id="project_id" data-section-name="project">
        <div class="services_bg__wrap">
            <div class="services_bg__img"></div>
            <a href="#callUs_modal" id="stat_bg_img_3_btn" class="services_btn open_modal max_modal">CONQUER NEW
                PEAKS</a>
            <span class="services_close">
                <span class="modal_close_wrap">
                    <span class="modal_close_leftLine"></span>
                    <span class="modal_close_rightLine"></span>
                </span>
            </span>
        </div>


        <div class="services_bg__text"></div>
        <div class="wrapper wow" data-wow-delay="0.5s">
            <div class="services_title extraTitle">
                <h2>Invitados<span>Especiales</span></h2>
            </div>
            <div class="services_list__wrap">
                <ul class="services_list">
                    <li class="services_list_line"><span>05</span>Alan Ituriel</li>
                    <li class="services_list_line">
                        <div class="listFlex"><img src="/img/alanIturiel.png" alt="">
                            <p>Es el creador de la popular serie de cortos "<b>Villanos</b>", es originario de México,
                                comenzo a trabajar en un ambito relacionado con la animacion a la temprana edad de 16
                                años en anima estudios como asistente de direccion de arte y posteriormente como
                                asistente de produccion en la pelicula 'Don gato y su Pandilla'.</p>
                        </div>
                    </li>
                </ul>
                <ul class="services_list">
                    <li class="services_list_line"><span>06</span>Alex Kong</li>
                    <li class="services_list_line">
                        <div class="listFlex"><img src="/img/alexKong.png" alt="">
                            <p>Hola a todos! Soy Alex y tengo 13 felices años en la industria de la Animación trabajando
                                como Animador de personajes 3D, Artista de Layout (Cinematógrafo Digital), Headhunter y
                                Coach de Artistas.<br>he tenido la gran suerte de trabajar en ya más de de 11 estudios
                                de Animación en México y 3 en Canadá, varios de los más reconocidos como Huevocartoon,
                                Anima, Metacube, Rain-Maker, BRON y recientemenre en Animal Logic como Artista de Layout
                                para LEGO mOVIE 2</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </section>

    <section class="section wow about_us" id="aboutUs_id" data-wow-duration="1s" data-wow-delay="0.2s"
        data-section-name="aboutUs">

        <div class="services_bg__wrap">
            <div class="services_bg__img"></div>
            <a href="#callUs_modal" id="stat_bg_img_4_btn" class="services_btn open_modal max_modal">CONQUER NEW
                PEAKS</a>
            <span class="services_close">
                <span class="modal_close_wrap">
                    <span class="modal_close_leftLine"></span>
                    <span class="modal_close_rightLine"></span>
                </span>
            </span>
        </div>



        <div class="about_us_bg__text"></div>

        <div class="wrapper">
            <div class="services_title">
                <h2 class="services_title_sup">Edición<span>pasada</span></h2>
                <h2>Edición<span>pasada</span></h2>
            </div>
            <div class="services_title__sub">
                <h4></h4>
            </div>
            <div class="about_us__seoWrap">
                <iframe src="https://www.youtube.com/embed/Yk9NFxTQgUQ?controls=0" frameborder="0"
                    allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <span class="services_sicret__btn">
                <div class="main-info">
                    <div class="round-info"></div>
                    <div class="circle-info">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </span>
        </div>

    </section>

    <section class="section wow contact_us" id="contact_id" data-wow-duration="1s" data-wow-delay="0.2s"
        data-section-name="contact">

        <div class="services_bg__wrap">
            <div class="services_bg__img"></div>
            <a href="#callUs_modal" id="stat_bg_img_5_btn" class="services_btn open_modal max_modal">CONQUER NEW
                PEAKS</a>
            <span class="services_close">
                <span class="modal_close_wrap">
                    <span class="modal_close_leftLine"></span>
                    <span class="modal_close_rightLine"></span>
                </span>
            </span>
        </div>



        <div class="wrapper">
            <div class="contact_us__bgText__grey">Contactanos</div>
            <div class="contact_us__bgText">Contactanos</div>

            <div class="contact_us__bgImg"></div>
            <div class="contact_us_bgTreangle"></div>

            <div class="contact_us__formWrap">
                <form id="contact-form" class="form">
                    <div class="form-group">
                        <label class="form-label" for="contact_us_name">Nombre</label>
                        <input type="text" class="form-control" id="contact_us_name" name="name" placeholder="Nombre"
                            tabindex="1" maxlength="18" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="contact_us_email">Email</label>
                        <input type="email" class="form-control" id="contact_us_email" name="email" placeholder="Email"
                            tabindex="2" pattern="^\S+@\S+\.\S+$" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="contact_us_subject">Razon</label>
                        <input type="text" class="form-control" id="contact_us_subject" name="subject"
                            placeholder="Razon" tabindex="3">
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="contact_us_message">Mensaje</label>
                        <textarea name="message" class="form-control" id="contact_us_message"
                            placeholder="Tu mensaje aqui" tabindex="4"></textarea>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="services_btn" id="stat_contactUs_btn">Enviar</button>
                    </div>
                </form>
            </div>

            <ul class="contact_us__leftWrap">
                <li class="contact_us__leftWrap_title">
                    <h3>Animaccion</h3>
                </li>
                <li class="contact_us__leftWrap_text">
                    <p>Envianos un mensaje y te contestaremos a la brevedad</p>
                </li>
                <li class="contact_us__leftWrap_mail">
                    <ul class="contact_us__SubleftWrap">
                        <li>
                            <h6>Telefono</h6>
                            <a href="tel:+380503218155">+38(050) 321 81 55</a>
                        </li>
                        <li>
                            <h6>Escibenos</h6>
                            <a href="mailto:evoxlab.com@gmail.com">contacto@animaccion.mx</a>
                        </li>
                        <li>
                            <h6>Direccion</h6>
                            <p>////////////</p>
                        </li>
                    </ul>

                </li>
            </ul>
            <span class="services_sicret__btn">
                <div class="main-info">
                    <div class="round-info"></div>
                    <div class="circle-info">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </span>

        </div>

    </section>

    <div class="modal_div " id="callUs_modal">

        <span id="modal_close">
            <span class="modal_close_wrap">
                <span class="modal_close_leftLine"></span>
                <span class="modal_close_rightLine"></span>
            </span>
        </span>

        <span id="modal_close_bg">
            <span class="modal_close_wrap">
                <span class="modal_close_leftLine"></span>
                <span class="modal_close_rightLine"></span>
            </span>
        </span><!-- Кнoпкa зaкрыть -->

        <h3 class="modal_form__title">CALL US</h3>
        <ul class="call_us__formTel">
            <li><a href="tel:+380960880505">+38(096) 088 05 05</a></li>
            <li><a href="tel:+380503218155">+38(050) 321 81 55</a></li>

        </ul>
        <br>
        <!-- <h3 class="modal_form__title">Have you got a business-objective?<br>We have a solution.<br>Get a consultation right now!</h3> -->
        <div class="call_us__formWrap">
            <form id="call_us-form" class="call_usForm">
                <div class="form_leftSection">
                    <fieldset class="contact_us__siteDev">
                        <h6>Web & App DEVELOPMENT</h6>
                        <div class="contact_us__siteDev_wrap">
                            <label class="label--checkbox"><input type="checkbox" class="checkbox" name="checkbox[]"
                                    value="Интернет магазин">E-commerce</label>
                            <label class="label--checkbox"><input type="checkbox" class="checkbox" name="checkbox[]"
                                    value="Лендинг">Landing Page</label>
                            <label class="label--checkbox"><input type="checkbox" class="checkbox" name="checkbox[]"
                                    value="Визитка">News portal</label>
                        </div>
                        <div class="contact_us__siteDev_wrap">
                            <label class="label--checkbox"><input type="checkbox" class="checkbox" name="checkbox[]"
                                    value="Блог">UI & UX Design</label>
                            <label class="label--checkbox"><input type="checkbox" class="checkbox" name="checkbox[]"
                                    value="Каталог">Corporate website</label>
                            <label class="label--checkbox"><input type="checkbox" class="checkbox" name="checkbox[]"
                                    value="Индив-ный проект">Comprehensive solutions</label>
                        </div>
                    </fieldset>
                    <fieldset class="contact_us__siteDev">
                        <h6>Branding</h6>
                        <div class="contact_us__siteDev_wrap">
                            <label class="label--checkbox"><input type="checkbox" class="checkbox" name="checkbox[]"
                                    value="Нейминг">Naming</label>
                            <label class="label--checkbox"><input type="checkbox" class="checkbox" name="checkbox[]"
                                    value="Лого">Logo Design</label>
                            <label class="label--checkbox"><input type="checkbox" class="checkbox" name="checkbox[]"
                                    value="Фирменные цвета">Corporate identity</label>
                        </div>
                        <div class="contact_us__siteDev_wrap">
                            <label class="label--checkbox"><input type="checkbox" class="checkbox" name="checkbox[]"
                                    value="Полиграфия">Advertising design</label>
                            <label class="label--checkbox"><input type="checkbox" class="checkbox" name="checkbox[]"
                                    value="Бренд-Бук">Brand book</label>
                            <!--<label class="label--checkbox"><input type="checkbox" class="checkbox" name="checkbox[]" value="Маркетинг кит"> Маркетинг кит</label>-->
                        </div>
                    </fieldset>
                    <fieldset class="contact_us__siteDev">
                        <h6>Internet Marketing</h6>
                        <div class="contact_us__siteDev_wrap">
                            <label class="label--checkbox"><input type="checkbox" class="checkbox" name="checkbox[]"
                                    value="SEO">Search engine optimization</label>
                            <label class="label--checkbox"><input type="checkbox" class="checkbox" name="checkbox[]"
                                    value="PPC">PPC Advertising</label>
                            <label class="label--checkbox"><input type="checkbox" class="checkbox" name="checkbox[]"
                                    value="SMM">Social Media Marketing</label>
                        </div>
                        <div class="contact_us__siteDev_wrap">
                            <label class="label--checkbox"><input type="checkbox" class="checkbox" name="checkbox[]"
                                    value="ЛИНКБИЛДИНГ">Link Building</label>
                            <!--<label class="label--checkbox"><input type="checkbox" class="checkbox" name="checkbox[]" value="КОПИРАЙТИНГ"> КОПИРАЙТИНГ</label>-->
                            <label class="label--checkbox"><input type="checkbox" class="checkbox" name="checkbox[]"
                                    value="E-mail">E-mail</label>
                        </div>
                    </fieldset>
                </div>

                <div class="form_rightSection">
                    <div class="form-group">
                        <label class="form-label" for="modal_name">Name</label>
                        <input type="text" class="form-control" id="modal_name" name="name" placeholder="Name"
                            tabindex="1" maxlength="18" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="modal_phone">Phone</label>
                        <input type="tel" class="form-control" id="modal_phone" name="phone" placeholder="Phone"
                            tabindex="2" maxlength="18">
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="modal_email">E-mail</label>
                        <input type="email" class="form-control" id="modal_email" name="email" placeholder="E-mail"
                            tabindex="2" pattern="^\S+@\S+\.\S+$" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="modal_message">MESSAGE</label>
                        <textarea name="message" class="form-control" id="modal_message"
                            placeholder="How can we help you" tabindex="4"></textarea>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="services_btn" id="stat_modal_btn">SEND</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="overlay"></div><!-- Пoдлoжкa -->

    <div class="message_wrap">
        <div class="message_body">
            <ul>
                <li>Your message has been <span>successfully sent</span>.</li>
                <li>We'll be in touch soon. with respect <span>Evoxlab Studio</span></li>
            </ul>
        </div>
    </div>

    <link rel="stylesheet" href="css/main.min.css">
    <script src="js/scripts.min.js" crossorigin="anonymous"></script>

</body>

</html>